
div{
    width: 200px;
    height: 200px;
    background-color: #269abc;
    margin: 5px;
    float: left;
}

.div2{
    background-color: transparent;
    float: none;
}

.div3,
.div5{
    width: 300px;
    height: 30px;
    background-color: #4cae4c;
}

.div4{
    width: 300px;
    height: 160px;
    background-color: #555555;
}

